<!-- EXTENDS BASE -->
{% extends 'base/base.html' %}

{% block content %}
<div>
    <div class="container py-4">
        <div class="p-5 mb-4 bg-light rounded-3">
            <div class="container-fluid py-5">
                <h1 class="display-5 fw-bold mb-4">Create task</h1>
                <form method="post">
                    {% csrf_token %}
                    {{form.as_p}}
                    <button type="submit" class="btn btn-primary">Update</button>
                </form>
            </div>
            <div class="mt-4">
                <a href="{% url 'tasks:tasks-list' %}" class="btn btn-outline-secondary btn-lg">Go back</a>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
